# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.iml

# Compiled class file
*.class

# Build folder
build/
*/src/main/resources/static/

# Gradle
.gradle/

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Virtual machine crash logs
hs_err_pid*
replay_pid*

# Node
*/node_modules/
npm-debug.log
yarn-error.log

# Miscellaneous
*/.angular/cache/
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/

# System files
.DS_Store
Thumbs.db
